{% load static %}

<html lang="en">
<head>
  <link href="{% static 'shop/base.css' %}" rel="stylesheet">
  {% block head %}
  {% endblock head %}
</head>
<body>
  <header>
      <a id="logo" href="{% url 'homepage' %}">Atlantic</a>
      <a id="cart" href="{% url 'cart' %}">Cart</a>
      {% if user.is_authenticated %}
        <a class="user_auth" href="{% url 'logout' %}">Log out</a>
      {% else %}
        <a class="user_auth" href="{% url 'login' %}">Log in</a>
      {% endif %}
  </header>
  {% block body %}
  {% endblock body %}
</body>
</html>
