{% extends "shop/base.html" %}
{% load static %}

{% block head %}
  <title>Shop</title>
  <link href="{% static "shop/browse.css" %}" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="main">
  <div class="categories">
    {% if parent_category %}
      <a href="{% url 'browse' parent_category.name %}">
        &#10094; {{ parent_category.name }}
      </a>
    {% endif %}
    <ul>
    {% if current_category %}
      <li>
        <a href="{% url 'browse' current_category.name %}">
          <strong>{{ current_category.name }}</strong>
        </a>

      {% if child_categories %}
        <ul class="child_categories">
          {% for category in child_categories %}
            <li>
              <a href="{% url 'browse' category.name %}">
                {{ category.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endif %}
    {% for category in sibling_categories %}
      <li>
        <a class="sibling_category" href="{% url 'browse' category.name %}">
          {{ category.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
</div>
  <div class="products">
    {% for product in products %}
      <a href="{{ product.get_absolute_url }}">
        <div class="image">
          <img src="{% if product.primary_image %}{{ product.primary_image.image.url }}
                    {% else %}{% static 'shop/default_image.png' %}{% endif %}">
          <div>{{ product.name | truncatechars:50 }}</div>
          <div class="rating-stars">{{ product.rating_stars | safe }}</div>
          <div>&euro; {{ product.price | floatformat:"2" }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock body %}
